absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1751547525079/work
accelerate==1.10.1
addict==2.4.0
affine==2.4.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
asttokens==3.0.1
attrs==25.4.0
backcall==0.2.0
beautifulsoup4==4.14.3
bleach==6.2.0
Bottleneck @ file:///C:/b/abs_816hr2khp1/croot/bottleneck_1731058648110/work
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1761745218276/work
certifi @ file:///C:/miniconda3/conda-bld/certifi_1759786080784/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1760098049787/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744977248/work
click==8.1.8
click-plugins==1.1.1.2
cligj==0.7.2
colorama==0.4.6
colorlog==6.10.1
contourpy==1.3.0
cycler==0.12.1
decorator==5.2.1
# Editable install with no version control (deepspeed==0.18.5+unknown)
-e d:\nanqing\code\deepspeed
defusedxml==0.7.1
docopt==0.6.2
einops==0.8.1
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.21.2
filelock @ file:///C:/b/abs_758187j281/croot/filelock_1744281404850/work
fonttools==4.60.1
fsspec==2025.9.0
gmpy2 @ file:///C:/b/abs_d8ki0o0h97/croot/gmpy2_1738085498525/work
grpcio @ file:///D:/bld/grpc-split_1754597631602/work
h11==0.16.0
h5py==3.14.0
hf-xet==1.2.0
hjson==3.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.3.3
hydra-core==1.3.2
idna @ file:///C:/miniconda3/conda-bld/idna_1761912043328/work
ImageIO==2.37.2
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
importlib_resources==6.5.2
ipython==8.12.3
jedi==0.19.2
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
joblib @ file:///C:/miniconda3/conda-bld/joblib_1757926369325/work
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
kiwisolver==1.4.7
lazy_loader==0.4
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1750360292101/work
markdown-it-py==3.0.0
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib==3.9.4
matplotlib-inline==0.2.1
mdurl==0.1.2
mistune==3.2.0
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
msgpack==1.1.2
nbclient==0.10.2
nbconvert==7.17.0
nbformat==5.10.4
networkx @ file:///C:/b/abs_3bxnu56g9d/croot/networkx_1717597507456/work
ninja==1.13.0
numexpr @ file:///C:/b/abs_05o8p7bfml/croot/numexpr_1730215959182/work
numpy @ file:///C:/b/abs_0123vcxhf8/croot/numpy_and_numpy_base_1725470331966/work/dist/numpy-2.0.1-cp39-cp39-win_amd64.whl#sha256=afd4c53d4b548db7b600782fd4368ad419de0533ac199a031101a0b99df7eaf7
omegaconf==2.3.0
opencv-python==4.13.0.92
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
# Editable install with no version control (pancollection==1.0.0)
-e d:\nanqing\code\pancollection
pandas @ file:///C:/miniconda3/conda-bld/pandas_1759822263878/work/dist/pandas-2.3.3-cp39-cp39-win_amd64.whl#sha256=8731d094af0d7ded620cab9038fd19f5491597bbb94d358604bb09379f35b1ee
pandocfilters==1.5.1
parso==0.8.6
pickleshare==0.7.5
pillow @ file:///D:/bld/pillow_1751481993665/work
pipreqs==0.5.0
platformdirs==4.4.0
prompt_toolkit==3.0.52
protobuf @ file:///D:/bld/protobuf_1751668327454/work/bazel-bin/python/dist/protobuf-6.31.1-cp39-abi3-win_amd64.whl#sha256=af8344af7bd7c70bb451ad72964d68fa11186d94ebd7ed521666e30bcf4dc001
psutil==7.2.1
pure_eval==0.2.3
py-cpuinfo==9.0.0
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496061107/work
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.2.5
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753077861/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
pytz @ file:///C:/b/abs_f8wdzeix0n/croot/pytz_1752135878094/work
pywin32==311
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
pyzmq==27.1.0
rasterio==1.4.3
referencing==0.36.2
regex==2026.1.15
requests @ file:///C:/b/abs_f53smfvswb/croot/requests_1756709376206/work
rich==14.3.0
rpds-py==0.27.1
safetensors==0.7.0
scikit-image==0.24.0
scikit-learn @ file:///C:/b/abs_0dwalqot3o/croot/scikit-learn_1737988780693/work/dist/scikit_learn-1.6.1-cp39-cp39-win_amd64.whl#sha256=5d1fd0a91f9c244e66bf5bcca98333fb0af3ed1fea525b6d0398fc53eb9dc17f
scipy @ file:///C:/Users/dev-admin/cr_scipy-feedstock/scipy_1733774324044/work/dist/scipy-1.13.1-cp39-cp39-win_amd64.whl#sha256=f7218697f964ae4372cdcb6f20a05db0d338ccc574c96e9dbf235ed6547dd462
seaborn==0.13.2
shellingham==1.5.4
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
soupsieve==2.8.3
stack-data==0.6.3
sympy==1.13.1
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tensorboard_1752825441/work/tensorboard-2.20.0-py3-none-any.whl#sha256=9dc9f978cb84c0723acf9a345d96c184f0293d18f166bb8d59ee098e6cfaaba6
tensorboard_data_server @ file:///D:/bld/tensorboard-data-server_1728639845982/work/tensorboard_data_server-0.7.0-py3-none-any.whl#sha256=9deb955bd534069f774f78b678a52a92acaf7a2c2687e725510bc913f34738e8
thop==0.1.1.post2209072238
threadpoolctl @ file:///C:/b/abs_def0dwqlft/croot/threadpoolctl_1719407816649/work
tifffile==2024.8.30
timm==1.0.24
tinycss2==1.4.0
tomli==2.4.0
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchdata==0.11.0
torchvision==0.20.1+cu121
tornado==6.5.5
tqdm==4.67.1
traitlets==5.14.3
typer-slim==0.21.1
typing-inspection==0.4.2
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
# Editable install with no version control (udl_vis==1.0.0)
-e d:\nanqing\code\udl
urllib3 @ file:///C:/b/abs_393g1ayee_/croot/urllib3_1750775481226/work
wcwidth==0.6.0
webencodings==0.5.1
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746274727/work
yapf==0.43.0
yarg==0.1.9
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
